;
; Copyright © 2020 Peter Monks Some Rights Reserved
;
; This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
; To view a copy of this license, visit https://creativecommons.org/licenses/by-nc-sa/4.0/ or send a
; letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
;

{:paths ["src" "resources"]
 :deps {org.clojure/clojure            {:mvn/version "1.11.1"}
        rm-hull/markov-chains          {:mvn/version "0.1.1"}
        cheshire/cheshire              {:mvn/version "5.11.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
 :aliases
   {
    ; clj -M:check
    :check
      {:extra-deps {com.github.athos/clj-check {:git/sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
       :main-opts  ["-m" "clj-check.check"]}


    ; clj -M:kondo
    :kondo
      {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.05.31"}}
       :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "resources"]}

    ; clj -M:eastwood
    :eastwood
      {:extra-deps {jonase/eastwood {:mvn/version "1.2.3"}}
       :main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "resources"]}]}

    ; clj -M:outdated
    :outdated
      {:extra-deps {com.github.liquidz/antq {:mvn/version "1.6.774"}}
       :main-opts  ["-m" "antq.core"]}}}
