;
; Copyright © 2020 Peter Monks Some Rights Reserved
;
; This work is licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
; To view a copy of this license, visit https://creativecommons.org/licenses/by-nc-sa/4.0/ or send a
; letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
;

{:deps {org.clojure/clojure   {:mvn/version "1.10.3"}
        rm-hull/markov-chains {:mvn/version "0.1.1"}
        cheshire/cheshire     {:mvn/version "5.10.0"}}
 :aliases
   {
    ; clj -M:check
    :check
      {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                     :sha     "cd1f25456de5eebda0a69602dd3445905382b3a4"}}
       :main-opts  ["-m" "clj-check.check"]}


    ; clj -M:kondo
    :kondo
      {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.03.03"}}
       :main-opts  ["-m" "clj-kondo.main" "--lint" "src"]}

    ; clj -M:eastwood
    :eastwood
      {:extra-deps {jonase/eastwood {:mvn/version "0.3.14"}}
       :main-opts  ["-m" "eastwood.lint" {:source-paths ["src" "resources"]}]}

    ; clj -M:outdated
    :outdated
      {:extra-deps {com.github.liquidz/antq {:mvn/version "0.12.2"}}
       :main-opts  ["-m" "antq.core"]}}}
