<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %-5level [%thread] %logger{30} - %msg%n</pattern>
<!--      <pattern>%-5level [%thread] %logger{30} - %msg%n</pattern> -->
    </encoder>
  </appender>

<!--
  <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender">
    <file>fake-tweets.log</file>
    <encoder>
      <pattern>%date %-5level [%thread] %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ROLLING_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>fake-tweets.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date %-5level [%thread] %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>
-->

  <logger name="org.apache"  level="ERROR" />
  <logger name="org.eclipse" level="ERROR" />
  <logger name="ch.qos"      level="ERROR" />
  <logger name="fake_tweets" level="DEBUG" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
